:root {
    --light-sand: #d2b48c;
    --mid-sand: #b08968;
    --mid-sand2: #9c6644;
    --dark-sand: #7f5539;
    --dark-tassili: #800000;
    --darker-tassili: #290101;
    --light-tassili: #ec974e;
    --mid-tassili: #ff7f2a;
    --mid-green: #009a93;
    --logo-orange: #ffaa1b;
    --logo-orange-light: #fcb94e;
}

body {
    background: var(--bs-white);
    color: var(--bs-dark);
    font-family: "Roboto Light", sans-serif;
}
main {
    min-height: 80rem;
    padding: 20px 0;
}
a {
    color: var(--bs-info);
    text-decoration: none;
}
.basic-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--bs-white);
}
aside a {
    color: var(--bs-dark);
}

img.logo {
    border: 1px solid var(--bs-white);
}

.navbar-nav {
    .nav-item {
        &:not(:last-child) {
            border-right: 1px solid var(--bs-gray-600);
        }
    }
    a.nav-link {
        padding: 0;
        letter-spacing: 1px;
        transition: all .2s ease-in-out;
        color: var(--bs-white);
    }
}
.navbar-nav a.nav-link:hover,
.nav-item.current a.nav-link {
    color: var(--bs-info) !important;
}
.navbar-cart {
    position: relative;
    margin: 0 1rem;
    .basic-icon {
        width: 2rem;
        height: 2rem;
    }
    a {
        color: var(--bs-black);
        span {
            position: absolute;
            top: -5px;
            left: 18px;
            background: var(--bs-white);
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            border-radius: 50%;
            box-shadow: 0 0 0 2px var(--bs-gray-900);
            &.with-items {
                background: var(--bs-danger);
                color: var(--bs-white);
            }
        }
    }
}

footer.main-footer {
    background: var(--bs-dark);
    /*background: var(--bs-black) url("../images/tassili.jpg") center center no-repeat;*/
    object-fit: cover;
    min-height: 300px;
    padding-top: 50px;
}
.fa-facebook-official,
.fa-twitter {
    font-size: 48px;
    margin-left: 30px;
    float: right;
    color: #fff;
}
.footer-nav {
    list-style: none;
    a {
        color: #fff;
    }
}


.start-page {
    background: url("../images/bg.jpg") center top no-repeat;
    margin: -20px 0 50px 0;
    padding: 50px 0;
    object-fit: cover;
    .intro {
        background: rgba(255,255,255,.9);
        width: 100%;
        padding: 20px;
        border-radius: .5rem;
        margin-bottom: 50px;
    }
}

.start-seo {
    background: #eee;
    padding: 20px;
    overflow: auto;
}

.start-page h1 {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.jumbotron h2 {
    margin-bottom: 30px;
}

.btn-primary {
    background: var(--bs-dark);
    border: none;
    &:hover {
        background: var(--bs-info);
    }
}


.single-item {
    padding: 5px 10px;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 20px;
    h2 {
        font-weight: 600;
        min-height: 50px;
        border-bottom: 1px solid #999;
        font-size: 1rem !important;
    }
}
.a-single-item, .a-single-item:hover {
    text-decoration: none;
}

.img-container {
    height: 160px;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block;
    }
}

.card-header h1 {
    font-size: 1.5em;
}
.navbar-subcategory {
    padding: 10px 10px 10px 20px;
    list-style: none;
    margin-bottom: 30px;
    li {
        border-bottom: 1px dotted var(--bs-gray-600);
        margin-bottom: 10px;
        a:hover,
        &.current a {
            color: var(--bs-info);
        }
    }
}
.cat-desc {
    color: #999;
    font-style: italic;
}

.carousel-item {
    text-align: center;
    height: 400px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-track {
    display: flex;
    transition: transform 0.4s ease;
}
.carousel-slide {
    width: 100%;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-image {
    max-width: 600px;
    max-height: 100%;
    object-fit: contain;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--bs-gray);
    color: var(--bs-white);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        background: var(--bs-info);
    }
    &.prev {
        left: 10px;
    }
    &.next {
        right: 10px;
    }
}

.order-card {
    .card-header {
        background: var(--bs-gray-400);
    }
    .card-body {
        background: var(--bs-gray-200);
        text-align: right;
        .form-group {
            display: inline-block;
            margin-left: 5px;
        }
    }
}


.btn-paypal {
    background: #fcb00a url(../images/paypal-icon.png) no-repeat;
    height: 54px;
    padding-left: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 1.7em;
    box-shadow: 1px 2px 3px #999;
    &:hover {
        background-color: #f7a500;
    }
}
#query {
    width: 280px;
    border: 2px solid #ccc;
    border-radius: .25rem;
    font-size: 16px;
    background: #fff url('../images/searchicon.png') no-repeat 10px 10px;
    padding: 6px 20px 6px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#subcat-list {
    display: none;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    /*
    .navbar-subcategory {
        position: relative;
        top: -40px;
        padding-top: 40px;
        min-height: 300px;
    }
    */
}
@media only screen and (min-width : 320px) and (max-width : 1024px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    #subcat-list {
        display: block;
    }
    .navbar-subcategory {
        display: none;
    }
    .navbar-nav a.nav-link {
        background: transparent;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }

    .fa-facebook-official, .fa-twitter {
        float: none;
    }
    .copyright {
        text-align: center;
    }

    .socials {
        text-align: center;
    }

    .carousel-image {
        width: 100%;
    }

    img.page-img {
        width: 100px;
    }

    .carousel-item {
        height: auto;
    }

    .order-card {
        .card-body {
            text-align: left;
            .form-group {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }
}


@media only screen and (min-width : 480px) and (max-width : 768px) {

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/*b0b04d
@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron { background-position-x: 510px}
}
*/

/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .jumbotron { background-position-x: -400px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .jumbotron { background-position-x: -150px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .jumbotron { background-position-x: -50px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
*/
