<div class="d-flex flex-wrap gap-2">
    {% for image in field.value %}
        {% if image.imageName %}
            <img src="{{ asset('uploads/images/' ~ image.imageName) | imagine_filter('product_thumbnail') }}">
        {% endif %}
    {% endfor %}
</div>